//This fixes nf-core launch error: roject <project-name> is currently stickied on revision: main 
manifest.defaultBranch = "main"

// Global default params, used in configs
params {
  //generates unique timestamp used as a directory for storing results and reports within
  SAMPLEFILE = null
  outdir = "souporcell-results"
  bam_on_irods = "yes"
  barcodes_on_irods = "yes"
  reference_fasta = '/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_modified.fa'
  vcf = '/nfs/cellgeni/pipeline-files/souporcell/reference_vcfs/chr_filtered_2p_1kgenomes_GRCh38.vcf'
  known_genotypes = "no"
  skip_remap = true
  no_umi = false
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withName: get_data {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
    maxForks = 5
  }
  withName: run_souporcell {
    container = '/nfs/cellgeni/singularity/images/souporcell-nextflow.sif'
    cpus = 8
    memory = 35.GB
    queue = 'long'
    maxForks = 5
  }
  withName: run_shared_samples {
    container = '/nfs/cellgeni/singularity/images/souporcell-nextflow.sif'
    memory = 4.GB
    queue = 'normal'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "souporcell-reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "souporcell-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "souporcell-reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
