// Global default params, used in configs
params {
  SAMPLEFILE = null
  K = null
  outdir = "demultiplexing-results"
  bam_on_irods = false
  barcodes_on_irods = false
  vireo_vcf = '/nfs/cellgeni/pipeline-files/vireo/reference_vcfs/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.vcf.gz'
  soc_fasta = '/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_modified.fa'
  soc_vcf = '/nfs/cellgeni/pipeline-files/souporcell/reference_vcfs/chr_filtered_2p_1kgenomes_GRCh38.vcf'
  known_genotypes = "no"
  skip_remap = true
  no_umi = false
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  
  maxForks = 5
  
  withName: get_data {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
  withLabel: vireo {
    cpus = 2
    memory = 35.GB
    queue = 'long'
    container = '/nfs/cellgeni/singularity/images/vireo_v0.5.8-cellsnp-lite_1.2.3.sif'
  }
	withName: run_souporcell {
    container = '/nfs/cellgeni/singularity/images/souporcell_v2.0-nextflow-compatible.sif'
    cpus = 8
    memory = 35.GB
    queue = 'long'
    maxForks = 5
  }
  withName: run_shared_samples {
    container = '/nfs/cellgeni/singularity/images/souporcell_v2.0-nextflow-compatible.sif'
    memory = 4.GB
    queue = 'normal'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "vireo-reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "vireo-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "vireo-reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
