// Global default params, used in configs
params {
  SAMPLEFILE = null
  outdir = "demultiplex-results"
  bam_on_irods = false
  barcodes_on_irods = false
  snp_vcf = '/nfs/cellgeni/pipeline-files/vireo/reference_vcfs/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.vcf.gz'
  soc_fasta = '/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_modified.fa'
  soc_vcf = '/nfs/cellgeni/pipeline-files/demultiplex/reference_vcfs/chr_filtered_2p_1kgenomes_GRCh38.vcf'
  known_genotypes = false
  skip_remap = true
  no_umi = false
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  
  maxForks = 5

  errorStrategy = 'retry'
  maxRetries = { task.exitStatus in 130..140 ? 5 : 1 }
 
  container = '/nfs/cellgeni/singularity/images/souporcell_v2.5-python_3.10-vireo_v0.5.8-cellsnp-lite_1.2.3-nextflow-compatible.sif'

  withName: get_data {
    container = ''
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
    queue = 'normal'
  }
  withLabel: vireo {
    cpus = { 16 }
    memory = { 35.GB * task.attempt }
    queue = 'long'
  }
  withName: run_souporcell {
    cpus = { 8 }
    memory = { 35.GB * task.attempt }
    queue = 'long'
  }
  withName: run_shared_samples {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
    queue = 'normal'
  }
  withName: quantify_shared_samples {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
    queue = 'normal'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "demultiplex-reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "demultiplex-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "demultiplex-reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
